body{
    padding: 15px;
    background-color: burlywood;
}
h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #800080;
}

.personal-data {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
     list-style-type: disc;
}
li {
    list-style-type: disc;
}

#dados {
    margin-left: 50x;
}

table, tr, td, th {
    padding: 5px;
    border: 1.5px solid gray;
    margin-top: 30px;
    margin-bottom: 30px;
}

th {
    background-color: #dddddd;
}

.emphasis {
    font-weight: bold;
    color: darkgreen;
}